@using TheBugs.Models
@model ListModel

<h2>Assigned bugs @Model.QueryModel.Assignee</h2>
<h3>Total @Model.Issues.Count</h3>


@Html.Partial("PartialIssueList", Model.Issues)
@Html.Partial("PartialQueryFilter", Model.QueryModel)





